*{
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
p{
    background-color: rgb(214, 206, 223);
    text-decoration-color: blue;
    size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}
#container{
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid rgb(234, 245, 247);
    margin: 0 auto;
    background-color: rgb(225, 233, 233);
}

#container h1{
    background-color: aquamarine;
    border-style: groove;
}
.cabecera{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(36, 28, 136);
    color: white;
    text-align: left;
    font-style:normal;
    font-size: 120%;
    box-shadow: 28px 24px 20px -12px rgba(35,58,125,0.48);
-webkit-box-shadow: 28px 24px 20px -12px rgba(35,58,125,0.48);
-moz-box-shadow: 28px 24px 20px -12px rgba(35,58,125,0.48);
text-shadow: 4px 4px 7px rgba(233,211,211,0.63);
}
.tagline{
    font-size: 75%;
    font-weight: normal;
    padding: 0 0 0 1rem;
}