*{
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    background-color: aquamarine;
    border-style: groove;
}
p{
    background-color: blueviolet;
    text-decoration-color: blue;
    size: 150%;
}